body {
    background-color: #011;
    font-family: 'Orbitron', sans-serif;
}

.start-screen {
    margin: auto;
    width: 48vh;
    height: 96vh;
    background-color: #222;
    outline: 1px solid white;
}

.options-screen,
.controls-screen,
.credits-screen,
.pause-screen,
.gameover-screen {
    display: none;
    margin: auto;
    width: 48vh;
    height: 91vh;
    padding-top: 5vh;
    text-align: center;
    background-color: #222;
    color: white;
    outline: 1px solid white;
}

#logo {
    margin: 10vh 0;
    width: 48vh;
}

.button {
    display: block;
    font-family: 'Orbitron', sans-serif;
    font-size: 1em;
    background-color: #222;
    color: #aaa;
    margin: 1vh auto;
    padding: 5px;
    width: 8em;
}

.button:focus {
    outline: none;
}

.game {
    display: none;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 48vh;
    margin: auto;
    outline: 1px solid white;
}

.cell,
.preview-cell,
.hold-cell {
    width: 4.8vh;
    height: 4.8vh;
}

.info {
    position: absolute;
    top: 0;
    left: calc(50vw + 27vh);
    color: white;
    font-size: 1.5em;
}

.preview, .hold {
    display: flex;
    flex-wrap: wrap;
    width: 19.2vh;
    height: 19.2vh;
    position: relative;
}

.toggle-div p,
.radio-div p {
    margin: 0;
    position: relative;
    left: -20px;
}

.toggle-button,
.radio-button {
    width: 20px;
    position: relative;
    top: -20px;
    left: 40px;
}

.window-1 {
    outline: 1px solid white;
    width: 19.2vh;
    height: 19.2vh;

    position: absolute;
    top: 200px;

    background-color: #000a0a;
    z-index: -1;
}

.window-2 {
    outline: 1px solid white;
    width: 19.2vh;
    height: 19.2vh;

    position: absolute;
    top: calc(19.2vh + 280px);

    background-color: #000a0a;
    z-index: -1;
}

.level-display {
    margin-bottom: 50px;
}

.flash {
    animation: flash 200ms;
}

@keyframes flash
{
    0% {
        background: white;
    }

    100% {
        background: none;
    }
}
