body {
    background-color: #011;
    font-family: 'Orbitron', sans-serif;
}

.start-screen {
    margin: auto;
    width: 48vh;
    height: 96vh;
    background-color: #222;
}

.options-screen,
.controls-screen,
.pause-screen,
.gameover-screen {
    display: none;
    margin: auto;
    width: 48vh;
    height: 91vh;
    padding-top: 5vh;
    text-align: center;
    background-color: #222;
    color: white;
}

#logo {
    margin: 10vh 0;
    width: 48vh;
}

.button {
    display: block;
    font-family: 'Orbitron', sans-serif;
    font-size: 1em;
    background-color: #222;
    color: #aaa;
    margin: 1vh auto;
    padding: 5px;
    width: 8em;
}

.button:focus {
    outline: none;
}

.game {
    display: none;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 48vh;
    margin: auto;
}

.cell {
    width: 4.8vh;
    height: 4.8vh;
    /* background-color: #222; */
    /* box-shadow: 2px 2px #222 inset; */
}

.info {
    position: absolute;
    top: 0;
    left: calc(50vw + 27vh);
    color: white;
    font-size: 1.5em;
}

.preview, .hold {
    display: flex;
    flex-wrap: wrap;
    width: 19.2vh;
    height: 19.2vh;
}

.preview-cell, .hold-cell {
    width: 4.8vh;
    height: 4.8vh;
}

.toggle p {
    margin: 0;
    position: relative;
    left: -20px;
}

.toggle img {
    width: 20px;
    position: relative;
    top: -20px;
    left: 40px;
}

.radio-div p {
    margin: 0;
    position: relative;
    left: -20px;
}

.radio-button {
    width: 20px;
    position: relative;
    top: -20px;
    left: 40px;
}

.test {
    color: rgb(230, 62, 154);
    color: rgb(71, 17, 197);
    color: rgb(43, 10, 121);
}
